<section class="faq" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="faq-list" class="wow jackInTheBox">
                    {% for item in page.header.faqList %}
                        {% set index = loop.index %}
                        {% set show = if (index == 1) ? 'show' : '' %}
                        <div class="card">
                            <div class="card-header" id="heading-{{ index }}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link faq-btn" data-toggle="collapse" data-target="#collapse-{{ index }}" aria-expanded="true" aria-controls="card-{{ index }}">
                                        {{ item.question }}
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-{{ loop.index }}" class="collapse {{ show }}" aria-labelledby="heading-{{ index }}" data-parent="#faq-list">
                                <div class="card-body">
                                    {{ item.answer }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
